@charset "UTF-8";

@font-face {
  font-family: "Satoshi";
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/Satoshi-Regular.woff2) format("woff2"), url(../font/Satoshi-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local('Pacifico Medium'), local('Pacifico-Medium'), url(../font/Satoshi-Medium.woff2) format("woff2"), url(../font/Satoshi-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local('Pacifico Bold'), local('Pacifico-Bold'), url(../font/Satoshi-Bold.woff2) format("woff2"), url(../font/Satoshi-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

:root {
  --unit: 8px;
  --line-height: 1.5;
  --backgroundColor: #fff;
  --altBackgroundColor: #1A1715;
  --backgroundColorHover: #332D29;
  --borderColor: #000;
  --textColor: #282828;
  --altTextColor: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Satoshi", sans-serif;
  font-size: calc(var(--unit) * 2);
  font-weight: 400;
  line-height: var(--line-height);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 12px;
  max-width: 1320px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  color: var(--textColor);
  text-decoration: none;
}

p {
  margin-bottom: calc(var(--unit));
}

p a {
  font-weight: 500;
  color: var(--textColor);
}

.content-image-container {
  max-width: 400px;
  float: right;
  margin: 0 0 var(--unit) calc(var(--unit) * 2);
  background-color: #f8f8f8;
  padding: 8px;
}

.content-image {
  max-width: 100%;
  margin: 0;
  display: block;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  padding-top: 6px;
  color: #666;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0 12px;
  }
  .content-image-container {
    float: none;
    display: block;
    margin: var(--unit) auto;
    width: 100%;
  }
}
