table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  background-color: #ddd;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table th:has(.sort-indicator) {
  cursor: pointer;
}

.sort-indicator {
  position: relative;
  width: 8px;
  height: 14px; /* increased for extra spacing */
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}
.sort-indicator::before,
.sort-indicator::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.sort-indicator::before {
  top: 0; /* pin to top */
  border-bottom: 4px solid #666; /* up arrow */
}
.sort-indicator::after {
  bottom: 0; /* pin to bottom */
  border-top: 4px solid #666; /* down arrow */
}
.sort-indicator.inactive {
  opacity: 0.3; /* lower opacity for both arrows */
}
.sort-indicator.up::before {
  border-bottom-color: #000; /* top arrow black */
}
.sort-indicator.up::after {
  border-top-color: #ccc; /* bottom arrow grey */
}
.sort-indicator.down::before {
  border-bottom-color: #ccc; /* top arrow grey */
}
.sort-indicator.down::after {
  border-top-color: #000; /* bottom arrow black */
}

@media screen and (max-width: 30em) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
    border-bottom: 3px solid #ddd;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
    border-bottom: 1px solid #fff;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
